*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-content:center;
    justify-content:center;

}
#box1{
    width: 50%;
    height: 100%;
    background-color: white;
}
 #box2{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
}
.nav h1{
    margin: 20px;
}
.header1 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-weight: 400;
    font-size: 60px;

}
.header1 h3{
    padding-left: 50px;
    font-size: smaller;
    font-weight: lighter;
}
.header2 h1{

    font-size: 80px;
    line-height: 10px;
    position: absolute;
    padding-left: 30%;
    word-spacing: 3px;
}
.section{
    width: 100%;
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    margin-top: 50px;
    
}
.section img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    filter: grayscale(100%);
}
.section h1{
    display: flex;
    align-items: left;
    justify-content: left;
    
}


.section p{
    padding-left: 50px;
    padding-top: 50px;
}
#box2{
    
    background-image: url(  https://plus.unsplash.com/premium_photo-1673792686302-7555a74de717?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGdpcmx8ZW58MHx8MHx8fDA=%20%20 );
    
}
#box2 .nav1{
    display: flex;
    padding-top: 90%;
    font-size: 6px;
    font-weight: 400;
}